<h1>Sport Goods Shop</h1>
<% if @products == [] %>
  <p>NO products</p>
<% else %>
  <% @products.each do |product| %>
    <hr>
    <%= link_to image_tag(product.photos[0].url), product_path(product.id) %>  	<br>
    <%= link_to product.title, product_path(product.id) %><br>
    <strong>Price: </strong>
    <%= product.price %>
   	<hr>
  <% end %>
<% end %>
